
h1
{
	color: red; 
	font-size: 40px;
}
body {
	background-image:url("project_background.jpeg");
	background-position: center;
	background-size: cover;
}

#myCanvas{
	border-width: 10px;
	border-style: ridge;
	background-color: white;

}
span{
	font-size: 20px;
}
